.container__directorio{
    padding-top: 170px;
    background-color: #022060;
}

.container__directorio > h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 900;
    color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
    .container__directorio{
        padding-top: 20px;
    }

    .container__consejo--element--subtitle > p{
        font-size: .6rem;
    }
}