.header__historia {
    width: 100%;
    height: 80vh;
    background-color: #022060;
    position: relative;
    display: flex;
}

.transform__historia1 {
    position: absolute;
    width: 100%;
    height: 90px;
    overflow: hidden;
    bottom: 0;
}

.transform__historia1--figure {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0 110em 5em 15em;
    background-color: #FAFAFA;
    border-color: transparent #022060 transparent #022060;
}

.header__historia--text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 50px;
    font-size: 2.5rem;
}

.header__historia--image {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.header__historia--image--content {
    width: 40vh;
    height: 40vh;
}

.header__historia--image--content>img {
    width: 100%;
    height: 100%;
}

.content__historia {
    position: relative;
    margin: 0 15%;
    margin-bottom: 50px;
    animation: historyshow 2.5s;
}

.content__historia--info1 {
    display: flex;
    opacity: 0;
}

.content__historia>h2 {
    font-size: 2rem;
}

.content__historia--info1--text {
    text-align: justify;
    width: 70%;
}

.content__historia--info1--image {
    width: 30%;
    margin-left: 30px;
}

.content__historia--info1--image>img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.content__historia--info2 {
    display: flex;
    opacity: 0;
    flex-direction: row;
    margin-top: 50px;
}

.content__historia--info2--text {
    text-align: justify;
    width: 80%;
    padding-left: 30px;
}

.content__historia--info2--image {
    width: 20%;
}

.content__historia--info2--image img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.content__historia--info2--image figure {
    text-align: center;
}

.content__mision-vision {
    position: relative;
    padding: 50px 15%;
    background-color: #022060;
    color: #FFFFFF;
    text-align: justify;
}

.content__mision-vision--title {
    margin-top: 50px;
}

.content__mision-vision--info h2 {
    font-size: 2rem;
}

.transform__historia2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.transform__historia2--figure {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 5em 30em 0 90em;
    background-color: #FAFAFA;
    border-color: transparent #022060 transparent #022060;
}

.content__mision-vision--info--vision, .content__mision-vision--info--mision {
    position: relative;
    opacity: 0;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.content__mision-vision--info--vision--image, .content__mision-vision--info--mision--image {
    width: 40%;
}

.content__mision-vision--info--vision--text, .content__mision-vision--info--mision--text {
    width: 60%;
}

.transform__historia3 {
    position: absolute;
    width: 100%;
    height: 90px;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.transform__historia3--figure {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0 110em 5em 15em;
    background-color: #FAFAFA;
    border-color: transparent #022060 transparent #022060;
}

.content__valores {
    padding: 50px 15%;
    opacity: 0;
}

.content__valores h2 {
    font-size: 2em;
}

.content__valores--list {
    text-align: justify;
    padding: 10px 0;
}