.container__org{
    display: flex;
    justify-content:space-between;
    margin-bottom: 5px;
}

.org_first{
    background-color: #022060;
}

.org_second{
    background-color: #213E7B;
}

.org_third{
    background-color: #425f9e;
}


.container__org--element{
    position: relative;
    width: 24.5%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.container__org--element--image{
    width: 30%;
    height: auto;
    display: flex;
}

.container__org--element--image > img{
    width: 100%;
    height: 100%;
}

.container__org--element--text{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #FFFFFF;
    padding: 0 4%;
}

.container__org--element--title{
    font-size: .6rem;
    text-align: center;
}

.container__org--element--subtitle{
    font-size: .7rem;
    text-align: center;
    font-weight: 300;
}

.org_column3 :nth-child(3){
    opacity: 0;
}

.org_column1{
    justify-content: space-evenly;
}

.org_end{
    justify-content: end;
}

@media only screen and (max-width: 1000px) {

    .container__org{
        width: 200%;
    }

    .org_container{
        overflow-x: scroll;
    }
}
