* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Courier, monospace;
    background-color: #fafafa;
    overflow-x: hidden;
}

.header {
    position: absolute;
    width: 100%;
}

.head__contact {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #BE9109;
}

.head__contact a {
    height: 100%;
    display: inline-flex;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
    margin-left: 50px;
}

.head__contact a>i {
    margin-right: 7px;
}

.navbar {
    position: relative;
    z-index: 2;
    display: inline-flex;
    width: 100%;
    height: 100px;
    /*background-color: #022060;*/
    align-items: center;
}

.navbar--options--menu {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2em;
    display: none;
}

.navbar--title {
    margin-left: 50px;
    display: inline-flex;
    align-items: center;
}

.navbar--title--image {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.navbar--title--image>img {
    width: 100%;
    height: 100%;
    /*filter: drop-shadow(2px 0 0 white) 
        drop-shadow(0 2px 0 white)
        drop-shadow(-2px 0 0 white) 
        drop-shadow(0 -2px 0 white);*/
}

.navbar--title a {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar--options--list {
    list-style-type: none;
    position: relative;
}

.navbar--options--list>li {
    display: inline-flex;
    margin-left: 30px;
}

.navbar--options--list a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

.navbar--options--list>li:hover>ul {
    visibility: visible;
    top: 25px;
    transition: all .5s;
}

.navbar--options--list>li:hover>ul>li {
    position: relative;
}

.navbar--options--sublist {
    visibility: hidden;
    z-index: 3;
    position: absolute;
    background-color: #213E7B;
    list-style-type: none;
    padding: 1em;
    top: 35px;
}

.navbar--options--sublist li a:hover {
    color: #022060;
}

.navbar--options--sublist>li:hover>ul {
    visibility: visible;
    top: 0;
    transition: all .5s;
}

.navbar--options--sublist--sublist {
    position: absolute;
    left: 0;
    top: 25px;
    background-color: #213E7B;
    list-style-type: none;
    width: fit-content;
    visibility: hidden;
    border: solid 5px #213E7B;
    left: 100%;
    padding: 0;
}

.navbar--options--sublist--sublist li{
    padding: 0 20px;
}

.main__container {
    width: 100%;
    height: 100vh;
    background-color: #022060;
}

.main__container--bottom_dates--image {
    position: absolute;
    width: 580px;
    height: 605px;
    right: 200px;
    bottom: 170px;
    animation: fade-bottom 1s ease-out;
}

.main__container--bottom_dates--image>img {
    width: 100%;
    height: 100%;
}

.main__container--bottom_dates {
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    width: 100%;
    height: 170px;
    background-color: #001238;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__container--bottom_dates--content--float {
    display: none;
}

.main__container--bottom_dates--content {
    width: 400px;
    max-height: 120px;
    display: inline-flex;
    position: relative;
    padding: 5px 30px;
    background-color: #001238;
}

.main__container--bottom_dates>* {
    display: flex;
    align-items: center;
    width: 400px;
    height: 120px;
    overflow: hidden;
}

.dates:hover>.main__container--bottom_dates--content {
    position: absolute;
    background-color: #001238;
    bottom: 20px;
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.main__container--date {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.main__container--date h1 {
    font-size: 2rem;
}

.main__container--date_information {
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    overflow: hidden;
}

.main__container--date_information--hour {
    color: #BE9109;
    font-size: 1rem;
}

.main__container--date_information--title {
    color: #FFFFFF;
    font-size: 1.1rem;
}

.main__container--date_information--data {
    color: #FFFFFF;
    font-size: .8rem;
    background-color: #001238;
    text-align: justify;
}

.main__container--text {
    width: 45%;
    position: absolute;
    top: 25%;
    color: #FFFFFF;
    margin-left: 70px;
}

.main__container--text--title {
    margin-bottom: 30px;
}

.main__container--text--subtitle {
    font-size: 3rem;
    margin-bottom: 30px;
}

.main__container--text--info {
    margin-bottom: 30px;
}

.main__container--text--button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 30px;
}

.main__container--text--button a {
    text-decoration: none;
    color: #022060;
    font-size: .8rem;
}

.main__container--circle_one {
    width: 460px;
    height: 460px;
    position: absolute;
    border-radius: 100%;
    background-color: #213E7B;
    right: 300px;
    bottom: 220px;
    animation: fade-top 1.2s ease-out;
}

.main__container--image {
    width: 250px;
    height: 350px;
    position: absolute;
    right: 50px;
    top: 200px;
    animation: fade-bottom 1.8s ease-out;
}

.main__container--image>img {
    width: 100%;
    height: 100%;
}

.main__container--circle_two {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 100%;
    background-color: #213E7B;
    right: 265px;
    bottom: 700px;
    animation: fade-top 1.4s ease-out;
}

.main__container--circle_three {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 100%;
    background-color: #213E7B;
    right: 180px;
    bottom: 670px;
    animation: fade-bottom 1.7s ease-out;
}

.main__container--circle_four {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    background-color: #213E7B;
    right: 800px;
    bottom: 500px;
    animation: fade-bottom 1.9s ease-out;
}

.expose.active {
    opacity: 1;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

@keyframes fade-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Events List*/

.events__list {
    width: 100%;
    padding: 50px 10%;
}

.events__list--elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.events__list--element {
    margin: 0 10px;
    width: 372px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.62);
}

.events__list--element--image {
    width: 100%;
    height: 195px;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.events__list--element--image>img {
    width: 100%;
    height: 100%;
}

.events__list--element--image--hour {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(29, 29, 29, .4);
    backdrop-filter: blur(3px);
    font-weight: 900;
    color: #FFFFFF;
}

.events__list--element--text {
    width: 100%;
    height: auto;
    display: inline-flex;
    padding: 15px;
}

.events__list--element--text--date {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.events__list--element--text--information {
    margin-left: 10px;
    text-align: justify;
}

.events__list--element--text--information--title {
    font-weight: 900;
    color: #022060;
}

.events__list--element--text--information--data {
    font-size: .8rem;
}

.transform_1 {
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.transform_1--figure {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 70px 40em 0 80em;
    background-color: #001238;
    border-color: transparent #FAFAFA transparent #FAFAFA;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #022060;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 1600px) {
    .main__container--bottom_dates--image {
        width: 450px;
        height: 470px;
    }

    .navbar--title--image {
        width: 65px;
        height: 65px;
    }

    .head__contact {
        height: 40px;
    }

    .navbar {
        height: 70px;
    }

    .main__container--text--subtitle {
        font-size: 2.5rem;
    }

    .main__container--circle_one {
        width: 360px;
        height: 360px;
        bottom: 200px;
    }

    .main__container--circle_two {
        width: 70px;
        height: 70px;
        right: 300px;
        bottom: 570px;
    }

    .main__container--circle_three {
        width: 35px;
        height: 35px;
        right: 250px;
        bottom: 550px;
    }

    .main__container--circle_four {
        width: 50px;
        height: 50px;
        right: 680px;
    }

    .events__list {
        padding: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        position: relative;
    }

    .navbar--options--list {
        display: none;
    }

    .head__contact {
        display: none;
    }

    .navbar--options--menu {
        display: flex;
        margin-right: 20px;
        font-size: 1.5rem;
    }

    .navbar--options {
        position: static;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .navbar--title {
        margin-left: 20px;
    }

    .navbar--title--image {
        width: 35px;
        height: 35px;
    }

    .navbar {
        position: relative;
        background-color: #BE9109;
        height: 50px;
    }

    .navbar--options--list a {
        padding: 10px 15px;
    }

    .navbar--options--list.responsive {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: -30px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar--options--list>li {
        width: 100%;
        background-color: #213E7B;
        display: flex;
        flex-direction: column;
    }

    .navbar--options--sublist {
        display: none;
    }

    .navbar--options--sublist--sublist {
        display: none;
    }

    .navbar--options--list>li:hover>ul {
        visibility: visible;
        top: 0;
        transition: all 0s;
    }

    .navbar--options--sublist.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        color: #FFFFFF;
        visibility: visible;
    }
    
    .navbar--options--sublist>li {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #566A95;
        top: 0;
    }

    .navbar--options--sublist>li:hover>ul {
        transition: all 0s;
    }

    .navbar--options--sublist--sublist.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        color: #FFFFFF;
        visibility: visible;
    }

    .navbar--options--sublist--sublist > li {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #7d94c8;
        top: 0;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        overflow: hidden;
    }

    .main__container--text {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        padding: 0 20px;
    }

    .main__container--text--title {
        margin-bottom: 10px;

    }

    .main__container--text--subtitle {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .main__container--text--info {
        margin-bottom: 0;
    }

    .main__container--text--button {
        padding: 10px 20px;
        background-color: #FFFFFF;
        width: fit-content;
        border-radius: 30px;
    }

    .main__container--bottom_dates--image {
        position: relative;
        width: 70%;
        height: auto;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, 0%);
        animation: none;
    }

    .main__container--bottom_dates {
        padding: 10px 0;
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .main__container--bottom_dates--content--float {
        position: absolute;
        display: block;
        right: 10px;
        font-size: 1.2rem;
        color: #FFFFFF;
    }

    .main__container--bottom_dates--content {
        width: 100%;
        border: solid 1px #BE9109;
    }

    .main__container--bottom_dates>* {
        width: 100%;
        height: fit-content;
        position: relative;
    }

    .dates:hover>.main__container--bottom_dates--content {
        position: relative;
        top: 0;
        transition: max-height .5s ease-in;
    }

    .main__container--circle_one {
        width: 260px;
        height: 260px;
        left: 30px;
        top: 300px;
    }

    .main__container--image {
        width: 150px;
        height: 200px;
        right: 20px;
        top: 250px;
    }

    .main__container--circle_two {
        right: 65px;
        top: 70px;
    }

    .main__container--circle_three {
        left: 80px;
        top: 270px;
    }

    .main__container--circle_four {
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 100%;
        background-color: #213E7B;
        right: 800px;
        bottom: 500px;
        animation: fade-bottom 1.9s ease-out;
    }

    .footer {
        font-size: .8rem;
    }
}